@page
@model AsciiArtWebApp.Pages.AsciiArtModel
@{
    ViewData["Title"] = "Ascii Art";
}

<form method="post">
  <fieldset>
    <div>
      <label for="Text">Text:</label>
      <input type="text" id="text" name="text" />
    </div>
    <div>
      <label for="%nbsp;"></label>
      <input type="submit" value="Submit" class="submit" />
    </div>
  </fieldset>
</form>

@if (Model.ShowRenderedText)
{
<pre>
@Model.RenderedText
</pre>
}